h1, h3 {
    text-align: center;
}

.fire-color {
    color: red;
}

.plant-color {
    color: green;
}

.water-color {
    color: blue;
}

.choice-container {
    display: flex;
    border: 2px solid black;
    justify-content: space-around;
}

.game-info {
    display: flex;
    border: 2px solid black;
}

.pokemon-btn {
    /* height: 200px; */
    min-height: 200px;
    max-height: 100%;
    width: 15%;
    border: 2px solid red;
}

.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top.. it mean the popup will be on top of the page */
    left: 50%; /* 50% from the left */
    top: 50%; /* 50% from the top */
    transform: translate(-50%, -50%); /* Center horizontally and vertically */
    border: 1px solid #888;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* The Close Button */
.popup button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    float: right;
}